# BELOW ADD FILE IGNORE RULES FOR EXTENSIONS
*.7z
*.asm
*.bak
*.bakx
*.bin
*.bmp
*.bsc
*.csv
*.db
*.db-shm
*.db-wal
*.dbg
*.dll
*.dta
*.dz
*.emt
*.exe
*.exe.metagen
*.exp
*.lastbuildstate
*.lastcodeanalysissucceeded
*.lib
*.Lnk
*.log
*.htm
*.idb
*.if2
*.ilk
*.inf
*.infx
*.ink
*.iobj
*.ipch
*.ipdb
*.ist
*.manifest
*.mak
*.map
*.mat
*.mda
*.mdp
*.mexw32
*.mexw64
*.mod
*.mol
*.MyForm.resources
*.net
*.ncb
*.obj
*.obt
*.opendb
*.opensdf
*.out
*.pdb
*.plg
*.png
*.psmx
*.rar
*.rms
*.sav
*.sbr
*.sdf
*.snp
*.suo
*.tlog
*.u2d
*.umf
*.unsuccessfulbuild
*.vcxprojAssemblyReference.cache
*.vcxproj.CopyComplete
*.vcxproj.GenerateResource.cache
*.vsd
*.vsz
*.xls
*.xlsx
*.z7
*.zip
